/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ===== Begin Custom CSS ===== */

@font-face { font-family: Apercu Pro; font-weight: bold; src: url('apercu_medium_pro.otf');}

body {
  background-color: #2F292B;
  text-align: center;
}

p {
  font-family: 'Apercu Pro', sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #e5e7de;
}

a {
  text-decoration: none;
}

.main-container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.logo {
  padding-top: 50px;
  padding-left: 50px;
  text-align: left;
}

.subtitle-container {
  width: 100%;
  text-align: right;
  position: relative;
  top: -20px;
}

.subtitle {
  padding-right: 153px;
}

.box-container {
  width: 100%;
  text-align: center;
}

.image-container {
  width: 624px;
  height: 351px;
  background-color: black;
  margin: auto;
  position: relative;
  top: -475px;
}

.image {
	width: 100%;
}

.unlock-container {
  width: 145px;
  margin: auto;
}

.unlock-button {
  position: relative;
  top: -440px;
}

.unlock-container:hover #unlock-button-path {
  fill: #2F292B;
}

.unlock-text {
  font-size: 20px;
  position: relative;
  width: 100px;
  margin: auto;
  top: -474px;
}
